@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
    Author: Jacob Gordon
    Date:  10/26/18

   Filename:         pcg_paper.css
   Supporting Files: 

*/

/* Page Layout and Design */
html {
    background-color: rgb(233, 196, 115);
}
/* Moved image to the middle of the header and gives it it's width*/
header img {
    display: block;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
/* Gives body layout */
body {
    position: relative;
    height: 100%;
    background-color: rgb(243, 219, 172);
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 360px;
}
body header{
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

/* Section */
/* Moved the section element from the left and gave it some space from the right border of the body*/
section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
    line-height: 1.2em;
}
/* Each section has a 50 pixel space above the next element */
section#one{
    margin-top: 50px;
}
section#two{
margin-top: 50px;
}
section#three{
    margin-top: 50px;
    }
    section#four{
        margin-top: 50px;
        margin-bottom: 50px;
        }
/* Aside  */
aside#left{
    width:20%;
    float: left;
}
aside#right{
    width: 20%;
    float: right;
}
/* Horizontal Navigation styles */
header nav ul li {
    display: block;
    float: left;
    width: 12.5%;
}
/* Removes underline and gives font family to the navs */
nav a:link,
nav a:visited {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
}
/* Each link is underlined when hovered above */
nav.horizontal a:active,
nav.horizontal a:hover {
text-decoration: underline;
}

/* Vertical Navigation */
/* Gives space from this nav from the horizontal nav. Clears floated elements around it */
nav.vertical {
    clear: both;
    height: 100%;
    margin-top: 50px;

}
/* Gives the width to vertical nav, puts the links in the center, and gives each line space above the other */
nav.vertical ul li {
    display: block;
    width: 10%;
    text-align: center;
    line-height: 2em;
}
/* Gives both vertical navigation list an underline and increase in font size when the mouse goes above it */
nav.vertical a:active,
nav.vertical a:hover {
    text-decoration: underline;
    font-size: 1.1em;
}


/* Footer Styles */
footer>address {
    background-color: rgb(253, 210, 115);
    width: 100%;
    text-align: center;
}